.custom-button {
    background-color: #ff0066;
    color: white;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: auto;
  }
  
  .custom-button:hover {
    background-color: #cc0052;
  }
  
  /* Botones más grandes en pantallas pequeñas */
  @media (max-width: 768px) {
    .custom-button {
      width: 100%; /* Hace que el botón sea de ancho completo en móviles */
      padding: 15px;
      font-size: 1.2rem;
    }
  }
  